<!--Eigenentwicklung-->
{% extends "base.html" %}

{% block app_content %}
    <h1>All ToDos</h1>
    <!--Eigenentwicklung-->
    <table class="table table-hover" style="table-layout: fixed">
        {% for item in items %}
            <tr>
                <td width="80px">
                    <a href="">
                        <!--Übernommen aus den Beispielen-->
                        <img src="{{ item.User.avatar(70) }}" />
                    </a>
                </td>
                <!--Eigenentwicklung-->
                <td width="40%">
                    <a href="{{ url_for('todo', id=item.ID_ToDo) }}"><h4 style="margin-top: 0px;">{{ item.Name }}</h4></a>
                    <p>
                        {{ item.Description }}
                    </p>
                </td>
                <td>
                    <p>
                        Status: {{ item.Status }}<br>
                        Date: {{ item.Date.strftime('%d-%m-%Y') }}<br>
                        Assigned: <a href="">{{ item.User.Username }}</a>
                    </p>
                </td>
                <td>    
                </td>
                <td >
                    <p>
                        {% if current_user.ID_User == item.User_ID %}
                        <a href="{{ url_for('edit', id=item.ID_ToDo) }}">Edit</a><br>
                        <a href="{{ url_for('delete', id=item.ID_ToDo) }}">Delete</a>
                        {% endif %}
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}